.App {
  width: 100vw;
  height: 100vh;
  background-color: #ffdae7;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.paginas {
  border: 16px solid black;
}
